PORT=3000
DATABASE_URL="your hosted postgres db on supabase"
FRONTEND_URL=http://localhost:5174
SMTP_USER="email to send mail from"
SMTP_PASSWORD="app password"
JWT_SECRET_KEY="jwt secret key"
IMAGEKIT_PUBLIC_KEY="ypur imagekit public key"
IMAGEKIT_PRIVATE_KEY="your imagekit private key"
IMAGEKIT_URL_ENDPOINT="your imagekit urk endpoint"
OPENCAGE_API_KEY="opencage api key"

